.buttonInnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#awsButton {
    background-color: #FF9900;
    color: #000000;
    margin-right: 15px;
}

#googleButton {
    background-color: #FFFFFF;
    color: #000000;
    margin-right: 15px;
}

.circleFetchTimeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    margin: 5px;
}