.buttonInnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#awsButton {
    background-color: #262e3b;
    color: #FF9900;
    margin-right: 15px;
}

#googleButton {
    background-color: #FFFFFF;
    color: #4885ed;
    margin-right: 15px;
}

#azureButton {
    background-color: #2669d6;
    color: #FFFFFF;
    margin-right: 15px;
}

.circleFetchTimeContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 55px;
    height: 40px;
    margin: 5px;
}