.equal-sign {
  font-size: 30px;
  margin-right: 15px;
}
  
.MuiInputBase-input{
  margin-right: 20px;
}

.validationMsg {
  text-align: center;
  color: #b61c24;
}

.warningBox {
  display: flex;
  justify-content: center;
}