<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f45ba166-0c8d-4447-874b-21ffaffccbc2/resourceGroups/resource1/providers/Microsoft.Web/sites/calculator-function01</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://calculator-function01.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://calculator-function01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$calculator-function01</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>